<div class="container">
  <div class="margin-top">
  </div>
  <div class="text-center">
    <%= link_to 'Créer un utilisateur test', new_message_path %>
  </div>
  <div class="margin-top"></div>
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <ul class="list-group">
          <li class="list-group-item flex">
            <p><%= user.created_at.to_s[0..18] %></p>
            <p>
              <% if user.first_name == "TEST" %>
                <span class="label label-info"><%= " #{user.first_name}" %></span>
              <% else %>
                <%= " #{user.first_name} #{user.last_name}" %>
              <% end %>
            </p>
          </li>
          <%= link_to user_path(user) do %>
            <li class="list-group-item flex">
              <strong><%= user.phone_number %></strong>
              <!-- TODO overrider le text-decoration au hover pour le label -->
              <div class="no-decoration"><p><span class="label label-default"><%= user.messages.count.to_s + " messages (#{user.messages.where(sender: true).count.to_s} envoyés, #{user.messages.where(sender: false).count.to_s} reçus)" %></span></p></div>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
