<body onload="scrollTo(0,document.body.scrollHeight)">

<div class="top-space"></div>

<ul class="list-group" id="messages">
  <li class="list-group-item" id="user-li">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <%= "Nouvel utilisateur crée (#{@user.phone_number}) à #{@user.created_at}" %>
  </li>
  <%= render 'items', items: @items %>
</ul>

<div class="bottom-space"></div>

<div class="flex top-bar">
  <div style="padding:5px"><%= link_to '< Tous les utilisateurs', users_path %></div>
  <div class="text-center">
    <h4 style="padding:0px; margin:5px"><%= @user.phone_number %></h4>
    <div style="color: grey; font-size:0.9em"><%= @user.messages.count.to_s + " messages (#{@user.messages.where(sender: true).count.to_s} envoyés, #{@user.messages.where(sender: false).count.to_s} reçus)" %></div>
  </div>
  <p>
    <% if @user.first_name == "UNKNOWN" %>
      <span class="label label-info"><%= " #{@user.first_name}" %></span>
    <% else %>
      <%= " #{@user.first_name} #{@user.last_name}" %>
    <% end %>
  </p>
</div>

<div class="bottom-bar">
  <div>
    <%= simple_form_for @message, url: messages_path do |f| %>
      <%= f.input :body, label: false %>
      <%= f.input :user, as: :hidden, input_html: { value: @user.phone_number } %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<a name="bottom"></a>
