<body onload="scrollTo(0,document.body.scrollHeight)">

<div class="top-space"></div>

<ul class="list-group">
  <%= time = "" %>
  <% @messages.each do |message| %>
    <% if  message.created_at.to_s[0..14] != time %>
    <% time = message.created_at.to_s[0..14] %>
    <li class="list-group-item">
      <%= message.created_at.to_s[0..10] %>
    </li>
    <% end %>
      <li class="list-group-item">
        <div >
          <div class="flex">
            <p>
              <% if message.sender %>
                <strong>Utilisateur</strong>
              <% else %>
                <strong>ApiPapi</strong>
              <% end %>
              <%= message.created_at.to_s[-12..-4] %>
            </p>
          </div>
          <div class="">
            <p><%= message.body %></p>
          </div>
        </div>
      </li>
  <% end %>
</ul>

<div class="bottom-space"></div>

<div class="flex top-bar">
  <div style="padding:5px"><%= link_to '< Tous les utilisateurs', users_path %></div>
  <div class="text-center">
    <h4 style="padding:0px; margin:5px"><%= @user.phone_number %></h4>
    <div style="color: grey; font-size:0.9em"><%= @user.messages.count.to_s + " messages (#{@user.messages.where(sender: true).count.to_s} envoyés, #{@user.messages.where(sender: false).count.to_s} reçus)" %></div>
  </div>
  <h3>
    <% if @user.first_name == "UNKNOWN" %>
      <span class="label label-info"><%= " #{@user.first_name}" %></span>
    <% else %>
      <%= " #{@user.first_name} #{@user.last_name}" %>
    <% end %>
  </h3>
</div>

<div class="bottom-bar">
  <div>
    <%= simple_form_for @message, url: messages_path do |f| %>
      <%= f.input :body, label: false %>
      <%= f.input :user, as: :hidden, input_html: { value: @user.phone_number } %>
      <%= f.button :submit%>
    <% end %>
  </div>
</div>

<a name="bottom"></a>
