<ul>
  <% messages.each_with_index do |message, index| %>
    <% if message.sender == true %>
      <li class="conversation__msg cf" <%= messages.count == (index+1) ? 'id="last"' : "" %>>
         <span class="right text-right">
            <%= image_tag('happy-grandma.png', class: 'avatar')  %>
            <%= message.body %>
        </span>
      </li>
    <% else %>
      <li class="conversation__msg cf" <%= messages.count == (index+1) ? 'id="last"' : "" %>>
        <span>
          <%= message.body %>
          <%= image_tag('taxi-driver.jpg', class: 'avatar')  %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>

