<div class="wrapper-blue">
  <div class="container text-left">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-left">
          <h3>Order a Taxi, with a <span id="yellowed">simple text</span></h3>
          <h1>07 56 79 67 89</h1>
        </div>
        <div class="padding-top">
          <p>Or type your number and we'll call you back </p>
          <form>
            <div class="form-inline padding-bottom" id="phone">
              <%= render 'shared/digicode' %>
            </div>
          </form>
        </div>
        <div class="flex-review ">
          <div>
            <%= image_tag('happy-grandpa.png', class: 'avatar-large')  %>
          </div>
          <div class="flex-review-item">
            <div>
              <p>"5-stars service, just a perfect ride !"</p>
            </div>
            <div>
              <%= image_tag('5-stars.png', class: 'stars')  %>
            </div>
          </div>
        </div>
        <div class="flex-review">
          <div>
            <%= image_tag('happy-grandma.png', class: 'avatar-large')  %>
          </div>
          <div class="flex-review-item">
            <div>
              <p>"Fabulous driver! As good as my grandson's !"</p>
            </div>
            <div>
              <%= image_tag('5-stars.png', class: 'stars')  %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center margin-top">
        <%= image_tag('messenger-bot.gif', height:"550px")  %>
      </div>
    </div>
  </div>

</div>
