<div class="wrapper-blue">
  <div id="landing-content">
    <div class=" banner-description">
      <div class="text-center banner-explain">
        <p>Order a Taxi, without a smartphone</p>
      </div>
      <%= render 'shared/digicode' %>
      <div class="text-center">
        <p>Send a text to </p>
        <h1><strong >07 56 79 64 81</strong></h1>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-2 banner-description">
            <div class="review-card">
              <div class="card-avatar">
                <%= image_tag('happy-grandpa.png', class: 'banner-avatar')  %>
              </div>
              <div class="card-rating">
                <%= image_tag('5-stars.png', class: 'banner-avatar')  %>
              </div>
              <div class="card-review-content">
                <p>Just great! Just great..</p>
              </div>
          </div>
          </div>
          <div class="col-xs-12 col-sm-4 banner-description ">
             <div class="review-card">
              <div class="card-avatar">
                <%= image_tag('happy-grandma.png', class: 'banner-avatar')  %>
              </div>
              <div class="card-rating">
                <%= image_tag('5-stars.png', class: 'banner-avatar')  %>
              </div>
              <div class="card-review-content">
                <p>Fabulous! My grandson is jealous !</p>
              </div>
            </div>
          </div>
    </div>
  </div>

</div>
