<div class="wrapper-blue">
  <div class="container text-left">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="text-left">
          <h3>Send a <span id="yellowed">text</span>, get a <span id="yellowed">driver</span></h3>
          <h1 class="phone_number">07 56 79 67 89</h1>
        </div>
        <div class="padding-top padding-bottom">
          <p>Or type your number and we'll call you back :</p>
          <form>
            <div class="form-inline" id="phone">
              <%= render 'shared/digicode' %>
            </div>
          </form>
        </div>
        <div class="flex-review ">
          <div>
            <%= image_tag('grandpa.png', class: 'avatar-large')  %>
          </div>
          <div class="flex-review-item">
            <div>
              <h4>"5-stars service, just a perfect ride !"</h4>
            </div>
            <div>
              <%= image_tag('stars.png', class: 'stars')  %>
            </div>
          </div>
        </div>
        <div class="flex-review">
          <div>
            <%= image_tag('grandma.png', class: 'avatar-large')  %>
          </div>
          <div class="flex-review-item">
            <div>
              <h4>"Fabulous driver ! So great to feel modern.."</h4>
            </div>
            <div>
              <%= image_tag('stars.png', class: 'stars')  %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 text-center margin-top">
        <%= image_tag('messages_smartphone.gif', height:"550px")  %>
      </div>
    </div>
  </div>

</div>
