<!DOCTYPE html>
<html>
  <head>
    <title>HappyPapy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'taxi-driver.png'  %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <title><%= meta_title %></title>
      <meta name="description" content="<%= meta_description %>">

      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= image_url(meta_image) %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />
      <meta property="fb:app_id" content="<%= DEFAULT_META['twitter_account'] %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="<%= DEFAULT_META['twitter_account'] %>">
      <meta name="twitter:title" content="<%= meta_title %>">
      <meta name="twitter:description" content="<%= meta_description %>">
      <meta name="twitter:creator" content="<%= DEFAULT_META['twitter_account'] %>">
      <meta name="twitter:image:src" content="<%= image_url(meta_image) %>">

      <!-- Google+ Schema.org markup -->
      <meta itemprop="name" content="<%= meta_title %>">
      <meta itemprop="description" content="<%= meta_description %>">
      <meta itemprop="image" content="<%= image_url(meta_image) %>">

  </head>
  <body>
    <% if request.path.include?("interface") %>
      <%= render 'shared/white_navbar' %>
    <% else %>
      <%= render 'shared/blue_navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>

  <!-- Facebook app registration -->
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1278589152153292',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</html>
